@import "tailwindcss";

/* Leaflet Container & Popup styling overrides */
.leaflet-container {
  font-family: inherit;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.leaflet-popup-content-wrapper {
  border-radius: 14px;
  box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.1);
  padding: 4px;
}

.custom-map-pin {
  background: transparent;
  border: none;
}

